input.form-control,
.form-select,
::ng-deep input.form-control,
::ng-deep .form-select,
::ng-deep .iti,
::ng-deep #country-search-box,
::ng-deep #country-search-box:focus,
::ng-deep #country-search-box:active,
::ng-deep #country-search-box:focus-visible,
textarea {
  background-color: #373737 !important;
  color: white !important;
  border-color: transparent !important;
  width: 100%;
  padding-block: 10px !important;
  border-radius: 10px !important;
  outline: none !important;
}
::ng-deep .iti {
  padding: 0px !important;
}
::ng-deep input.form-control::placeholder,
::ng-deep .form-select::placeholder,
textarea::placeholder,
.form-select {
  color: #828282 !important;
  text-transform: capitalize;
}
.form-select option {
  color: white !important;
}
::ng-deep .iti__country-list,
::ng-deep .iti__country-list,
::ng-deep .country-dropdown {
  max-width: 350px !important;
  background-color: #373737 !important;
  color: white !important;
  overflow-x: hidden !important;
}
select option:disabled {
  color: gray !important; /* Change to the desired color */
}
::ng-deep .iti__country-list::-webkit-scrollbar-thumb {
  background-color: #000;
  box-shadow: 0px 0px 10px 0px #eeeeee8c inset;
  border-radius: 100vh;
}
::ng-deep .iti__country-list::-webkit-scrollbar {
  width: 4px;
  background-color: #fff;
  border-left: 2px solid #eee;
  box-shadow: 0px 0px 21px 0px #0003 inset;
}

.form-control.is-invalid,
.was-validated .form-control:invalid,
.form-select.is-invalid,
.was-validated .form-select:invalid,
::ng-deep .form-control.is-invalid,
::ng-deep .was-validated .form-control:invalid {
  background-image: none;
}
.form-select {
  background-image: url("/images/contact_us_page/arrow_down.png");
}
