<div class="p-3">
  <div class="mb-3">
    <p class="my-1 fw-bold title__fonts__normal h4">
      {{ "Pages.contact-us-page.form.title" | translate }}
    </p>
  </div>
  <form [formGroup]="messagesForm" (ngSubmit)="onSubmit()">
    <div class="row g-3">
      <!-- input field: full_name  -->
      <div class="col-md-12">
        <div>
          <div class="text-end">
            @if (messagesForm.get('full_name')?.getError("required") && startValidation) {
            <small class="text-danger fst-italic"
              >{{ "Pages.contact-us-page.form.validation.required" | translate }}*</small
            >
            } @if (messagesForm.get('full_name')?.getError("pattern") && startValidation) {
            <small class="text-danger fst-italic"
              >{{ "Pages.contact-us-page.form.validation.name" | translate }}*</small
            >
            } @if (messagesForm.get('full_name')?.getError("minlength") && startValidation) {
            <small class="text-danger fst-italic"
              >{{ "Pages.contact-us-page.form.validation.name02" | translate }}*</small
            >
            }
          </div>
          <div>
            <input
              [ngClass]="{
                'is-invalid':
                  startValidation &&
                  (messagesForm.get('full_name')?.getError('required') ||
                    messagesForm.get('full_name')?.getError('pattern'))
              }"
              type="text"
              class="form-control"
              id="name"
              [placeholder]="isRTL ? 'الاسم بالكامل' : 'full name'"
              formControlName="full_name" />
          </div>
        </div>
      </div>
      <!-- input field: userEmail  -->
      <div class="col-md-12">
        <div>
          <div class="text-end">
            @if (messagesForm.get('email')?.getError("required") && startValidation) {
            <small class="text-danger fst-italic"
              >{{ "Pages.contact-us-page.form.validation.required" | translate }}*</small
            >
            } @if (messagesForm.get('email')?.getError("pattern") && startValidation) {
            <small class="text-danger fst-italic"
              >{{ "Pages.contact-us-page.form.validation.email" | translate }}*</small
            >
            }
          </div>
          <div>
            <input
              [ngClass]="{
                'is-invalid':
                  startValidation &&
                  (messagesForm.get('email')?.getError('required') || messagesForm.get('email')?.getError('pattern'))
              }"
              type="email"
              class="form-control"
              id="email"
              formControlName="email"
              [placeholder]="isRTL ? 'البريد الالكترونى' : 'e-mail'" />
          </div>
        </div>
      </div>
      <!-- input field: userPhone  -->
      <div class="col-md-12">
        <div>
          <div class="text-end">
            @if (messagesForm.get('phone')?.getError("required") && startValidation) {
            <small class="text-danger fst-italic"
              >{{ "Pages.contact-us-page.form.validation.required" | translate }}*</small
            >
            } @if (messagesForm.get('phone')?.errors && startValidation && phone.value?.length || 0 > 0) {
            <small class="text-danger fst-italic"
              >{{ "Pages.contact-us-page.form.validation.phone" | translate }}*</small
            >
            }
          </div>
          <ngx-intl-tel-input
            #phone
            [cssClass]="
              startValidation && messagesForm.get('phone')?.errors
                ? 'form-control h-100 py-3 is-invalid ' + (isRTL ? 'text-end' : 'text-start')
                : 'form-control h-100 py-3 ' + (isRTL ? 'text-end' : 'text-start')
            "
            [preferredCountries]="[CountryISO.SaudiArabia]"
            [enableAutoCountrySelect]="false"
            [enablePlaceholder]="false"
            [customPlaceholder]="isRTL ? 'رقم الهاتف' : 'phone'"
            [searchCountryFlag]="true"
            [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
            [selectFirstCountry]="false"
            [selectedCountryISO]="CountryISO.SaudiArabia"
            [maxLength]="15"
            [phoneValidation]="true"
            name="phone"
            formControlName="phone"></ngx-intl-tel-input>
        </div>
      </div>
      <!-- input field: userServices  -->
      <div class="col-md-12">
        <div>
          <div class="text-end">
            @if (messagesForm.get('service_id')?.getError("required") && startValidation) {
            <small class="text-danger fst-italic"
              >{{ "Pages.contact-us-page.form.validation.required" | translate }}*</small
            >
            }
          </div>
          <div>
            @if (allServices) {
            <select
              formControlName="service_id"
              [ngClass]="{
                'is-invalid': startValidation && messagesForm.get('service_id')?.getError('required')
              }"
              class="form-select w-100"
              name="services"
              id="services">
              <option value="" selected disabled>
                {{ isRTL ? "الخدمة" : "service" }}
              </option>
              @for (item of allServices.services; track item.id) {
              <option [value]="item.id">
                @if (isRTL) {
                {{ item.ar_service_title }}
                } @else {
                {{ item.en_service_title }}
                }
              </option>
              }
            </select>
            }
          </div>
        </div>
      </div>
      <!-- input field: userMessage  -->
      <div class="col-md-12">
        <div>
          <div class="text-end">
            @if (messagesForm.get('message')?.getError("required") && startValidation) {
            <small class="text-danger fst-italic"
              >{{ "Pages.contact-us-page.form.validation.required" | translate }}*</small
            >
            } @if (messagesForm.get('message')?.getError("minlength") && startValidation) {
            <small class="text-danger fst-italic"
              >{{ "Pages.contact-us-page.form.validation.message" | translate }}*</small
            >
            }
          </div>
          <div>
            <textarea
              [ngClass]="{
                'is-invalid': startValidation && messagesForm.get('message')?.getError('required')
              }"
              style="height: 80px"
              class="form-control"
              [placeholder]="isRTL ? 'اكتب رسالتك...' : 'message...'"
              id="message"
              formControlName="message"></textarea>
          </div>
        </div>
      </div>
      <!-- submit button  -->
      <div class="col-md-12 text-center text-md-start">
        <button class="btn-main btn px-4 title__fonts fw-normal rounded-1 py-3 text-uppercase fs-14 w-100">
          {{ "Pages.contact-us-page.form.button" | translate }}
        </button>
        @if (successMessage) {
        <p class="mt-2 text-success text-center">
          {{ "successMessage" | translate }}
        </p>
        }
      </div>
    </div>
  </form>
</div>
