<section>
  <div class="container mx-auto">
    <div class="relative">
      <div class="grid grid-cols-1 md:grid-cols-4 gap-0">
        <div>
          <img
            loading="lazy"
            class="w-full h-[500px]"
            src="/images/DownloadSection/1.webp"
            alt="FPICO"
          />
        </div>
        <div class="hidden md:block">
          <img
            loading="lazy"
            class="w-full h-[500px]"
            src="/images/DownloadSection/2.webp"
            alt="FPICO"
          />
        </div>
        <div class="hidden md:block">
          <img
            loading="lazy"
            class="w-full h-[500px]"
            src="/images/DownloadSection/3.webp"
            alt="FPICO"
          />
        </div>
        <div class="hidden md:block">
          <img
            loading="lazy"
            class="w-full h-[500px]"
            src="/images/DownloadSection/4.webp"
            alt="FPICO"
          />
        </div>
      </div>
      <span class="absolute inset-0 bg-black/50"></span>
      <!-- :🔻🔻🔻🔻🔻 -->
      <div
        class="absolute inset-0 flex justify-center items-center text-center capitalize"
      >
        <div>
          <h2
            class="text-white text-[48px] font-extrabold mb-2"
            [innerHTML]="
              'Pages.Home.download-pdf-section.title' | translate | safeHtml
            "
          ></h2>
          <div
            [innerHTML]="
              'Pages.Home.download-pdf-section.see-more-pic'
                | translate
                | safeHtml
            "
          ></div>
          <img
            loading="lazy"
            class="block my-2"
            src="/images/DownloadSection/arrow.svg"
            alt="FPICO"
          />
          <div>
            <a
              class="bg-main text-black rounded px-12 py-4 btn-animation custom-btn"
              href="https://drive.google.com/file/d/1oH8rIe8oZq1aGJm01nndjpOjVyFiAGZz/view"
              target="_blank"
              download
              rel="noopener noreferrer"
              aria-label="Download PDF"
            >
              {{ "Pages.Home.download-pdf-section.click-btn" | translate }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
