.image_holder {
  border-radius: 10px;
  position: relative;
  z-index: 1;
}

.image_holder::before {
  content: "";
  background-color: var(--main-color);
  position: absolute;
  bottom: -10px;
  left: -10px;
  width: 95%;
  height: 95%;
  border-radius: 10px;
  z-index: -1;
}

.col-lg-8 {
  background-image: url("/images/DownloadSection/bg-works.webp");
  background-repeat: no-repeat;
}

::ng-deep #works ul {
  list-style: inside !important;
  padding: 0;
  margin: 0;
}

.video-like-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
