<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # If an existing asset or directory is requested, serve it
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Otherwise, redirect to index.html
    RewriteRule . /index.html [L]
</IfModule>
