<section class="capitalize my-20">
  <div class="container mx-auto">
    <div class="flex flex-wrap">
      <div class="w-full md:w-4/12 px-1 mb-4 md:mb-0">
        <header
          [class]="{ 'lg:text-right': isRTL(), 'lg:text-left': !isRTL() }"
          [innerHTML]="'home.partners.text' | translate | safeHtml"
          class="text-center"
        >
          <!-- <h2 class="text-white">
            <span class="text-primary">our</span> partners
          </h2>
          <p class="text-lighter">
            our partners who contributed to the distinguished success we have
            achieved and who trusted us
          </p> -->
        </header>
      </div>
      <div
        [class]="{
          images_holder: isAddBackgroundColor(),
          rtl_after_position: isRTL(),
          ltr_after_position: !isRTL()
        }"
        class="images_holder py-3 w-full md:w-8/12 flex justify-between mt-0 flex-col items-center lg:flex-row"
      >
        @for (item of Partner(); track item.id) {
        <div class="w-8/12 md:w-3/12">
          <img
            loading="lazy"
            [src]="'https://fpico.org/fipcoapi/Partner/' + item.main_image"
            class="block w-full mx-auto mb-3 md:mb-0"
            alt="FPICO"
          />
        </div>
        }
      </div>
      <div class="w-full md:w-2/12"></div>
    </div>
  </div>
</section>
