@if (servicesDetails) {
<section class="capitalize my-5 relative z-10 overflow-hidden">
  <!-- video -->
  <div class="absolute inset-x-0 top-0 bg-black/75 text-center">
    <!-- <video
          class="object-fit-cover relative z-n1 h-100"
          src="/images/details/NVideo.mp4"
          autoplay
          muted
          loop
        ></video> -->

    <video
      #videoElement
      autoplay
      loop
      muted
      playsinline
      preload="metadata"
      class="object-cover relative -z-10 h-[174px]"
    >
      <source src="/images/1.mp4" type="video/mp4" />
    </video>
  </div>
  <div class="container mx-auto px-4 text-white">
    <!-- section and title -->
    <div class="flex flex-col justify-center mb-8">
      <div class="w-full flex items-center flex-grow-1">
        <app-pages-header
          class="w-full"
          [title]="'Pages.services.title'"
          [title02]="'Pages.services.title02'"
          [desc01]="'Pages.services.title-desc01'"
          [desc02]="'Pages.services.title-desc02'"
        ></app-pages-header>
      </div>
    </div>

    <!-- Second Section -->
    <div class="Details_related_images_bg">
      <div class="grid grid-cols-1 md:grid-cols-12 gap-4">
        <!-- section Text -->
        <div class="col-span-12 md:col-span-7 flex place-items-center">
          <div>
            <h1>
              @if (isRTL) {
              {{ servicesDetails.service.ar_service_title }}
              } @else {
              {{ servicesDetails.service.en_service_title }}
              }
            </h1>
            <!-- <h3
                class="text-lighter fs-15 lh-lg mb-3"
                [innerHTML]="
                  'Pages.services.second-section.first-text'
                    | translate
                    | safeHtml
                "
              ></h3> -->

            @if (isRTL) {
            <div
              class="text-lighter text-[15px] leading-loose"
              [innerHTML]="servicesDetails.service.ar_service_text | safeHtml"
            ></div>
            }@else {
            <div
              class="text-lighter text-[15px] leading-loose"
              [innerHTML]="servicesDetails.service.en_service_text | safeHtml"
            ></div>
            }
          </div>
        </div>
        <!-- section Image -->
        <div class="col-span-12 md:col-span-5">
          <div>
            <figure class="image_border main_Image_Animation p-2">
              <img
                loading="lazy"
                [src]="
                  'https://fpico.org/fipcoapi/service/' +
                  servicesDetails.service.main_image
                "
                class="w-full h-[500px] object-cover"
                alt="FPICO"
              />
            </figure>
          </div>
        </div>

        <!-- Details Image -->
        <div class="col-span-12">
          <owl-carousel-o [options]="customOptions">
            @for (imageGroup of groupedImages; track $index) {
            <ng-template carouselSlide>
              <!-- Details Image -->
              <div class="my-5">
                <div class="grid grid-cols-1 md:grid-cols-12 gap-4">
                  <div class="md:col-span-6">
                    <div
                      class="grid grid-cols-1 md:grid-cols-2 gap-4 overflow-hidden h-full content-between"
                    >
                      @if (imageGroup[4]) {
                      <div class="h-[275px] md:col-span-1 flex-grow">
                        <div
                          (click)="
                            openModal(
                              'https://fpico.org/fipcoapi/service/' +
                                imageGroup[4].main_image
                            )
                          "
                          class="h-full imageContainer-hover"
                        >
                          <img
                            loading="lazy"
                            class="w-full h-full object-cover rounded-[10px]"
                            [src]="
                              'https://fpico.org/fipcoapi/service/' +
                              imageGroup[4].main_image
                            "
                            alt="FPICO"
                          />
                        </div>
                      </div>
                      } @if (imageGroup[3]) {
                      <div class="h-[275px] flex-grow">
                        <div
                          (click)="
                            openModal(
                              'https://fpico.org/fipcoapi/service/' +
                                imageGroup[3].main_image
                            )
                          "
                          class="h-full imageContainer-hover"
                        >
                          <img
                            loading="lazy"
                            class="w-full h-full object-cover rounded-[10px]"
                            [src]="
                              'https://fpico.org/fipcoapi/service/' +
                              imageGroup[3].main_image
                            "
                            alt="FPICO"
                          />
                        </div>
                      </div>
                      } @if (imageGroup[2]) {
                      <div class="h-[275px] md:col-span-1 flex-grow">
                        <div
                          (click)="
                            openModal(
                              'https://fpico.org/fipcoapi/service/' +
                                imageGroup[2].main_image
                            )
                          "
                          class="h-full imageContainer-hover"
                        >
                          <img
                            loading="lazy"
                            class="w-full h-full object-cover rounded-[10px]"
                            [src]="
                              'https://fpico.org/fipcoapi/service/' +
                              imageGroup[2].main_image
                            "
                            alt="FPICO"
                          />
                        </div>
                      </div>
                      } @if (imageGroup[1]) {
                      <div class="h-[275px] md:col-span-2 flex-grow-1">
                        <div
                          (click)="
                            openModal(
                              'https://fpico.org/fipcoapi/service/' +
                                imageGroup[1].main_image
                            )
                          "
                          class="h-full imageContainer-hover"
                        >
                          <img
                            loading="lazy"
                            class="w-full h-full object-cover rounded-[10px]"
                            [src]="
                              'https://fpico.org/fipcoapi/service/' +
                              imageGroup[1].main_image
                            "
                            alt="FPICO"
                          />
                        </div>
                      </div>
                      }
                    </div>
                  </div>
                  <div
                    [class]="{
                        'md:col-span-12': imageGroup.length == 1,
                        'md:col-span-6': imageGroup.length != 1,
                      }"
                  >
                    <div
                      class="imageContainer-hover h-full"
                      (click)="
                        openModal(
                          'https://fpico.org/fipcoapi/service/' +
                            imageGroup[0].main_image
                        )
                      "
                    >
                      @if (imageGroup[0]) {
                      <img
                        loading="lazy"
                        class="w-full object-cover h-full rounded-[10px]"
                        [src]="
                          'https://fpico.org/fipcoapi/service/' +
                          imageGroup[0].main_image
                        "
                        alt="FPICO"
                      />
                      }
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
            }
          </owl-carousel-o>
        </div>
      </div>
    </div>

    <!-- Download PDF section -->
    <div class="my-5">
      <app-h-download-pdf-section></app-h-download-pdf-section>
    </div>
  </div>
</section>

}

<!-- Modal -->
@if (selectedImage.length > 0) {
<div
  (click)="closeModal()"
  class="LightBoxContainer p-5 fixed z-30 inset-0 w-full h-full bg-black bg-opacity-75 grid place-items-center"
>
  <div class="lightBoxContnet">
    <img
      loading="lazy"
      [src]="selectedImage"
      class="w-full h-auto"
      role="presentation"
    />
  </div>
</div>
}
