@if (allLinks) {
<ul class="list-unstyled p-0 m-0 d-flex social_media_links gap-2">
  @if (allLinks.contact.face_link) {
  <li class="nav-link">
    <a [href]="allLinks.contact.face_link" target="_blank" aria-label="Visit FPICO on Facebook">
      <img loading="lazy" src="/images/social_media_icons/facebook.png" alt="Follow FPICO on Facebook" />
    </a>
  </li>
  } @if (allLinks.contact.insta_link) {
  <li class="nav-link">
    <a [href]="allLinks.contact.insta_link" target="_blank" aria-label="Visit FPICO on Instagram">
      <img loading="lazy" src="/images/social_media_icons/instagram.png" alt="Follow FPICO on Instagram" />
    </a>
  </li>
  } @if (allLinks.contact.tweet_link) {
  <li class="nav-link">
    <a [href]="allLinks.contact.tweet_link" target="_blank" aria-label="Visit FPICO on Twitter">
      <img loading="lazy" src="/images/social_media_icons/x.png" alt="Follow FPICO on Twitter" />
    </a>
  </li>
  } @if (allLinks.contact.snap_link) {
  <li class="nav-link">
    <a [href]="allLinks.contact.snap_link" target="_blank" aria-label="Visit FPICO on Snapchat">
      <img loading="lazy" src="/images/social_media_icons/snapchat.png" alt="Follow FPICO on Snapchat" />
    </a>
  </li>
  } @if (allLinks.contact.watus_link) {
  <li class="nav-link">
    <a [href]="allLinks.contact.watus_link" target="_blank" aria-label="Contact FPICO on WhatsApp">
      <img loading="lazy" src="/images/social_media_icons/whatsapp.png" alt="Message FPICO on WhatsApp" />
    </a>
  </li>
  } @if (allLinks.contact.linked_link) {
  <li class="nav-link">
    <a [href]="allLinks.contact.linked_link" target="_blank" aria-label="Visit FPICO on LinkedIn">
      <img loading="lazy" src="/images/social_media_icons/linkedin.svg" alt="Follow FPICO on LinkedIn" />
    </a>
  </li>
  }
</ul>
}
