<div class="row g-4 align-items-center">
  <div class="col-lg-6 order-1 order-lg-0">
    <div>
      <div class="p-3">
        <h2 class="h3">{{ "Page.about-us.form.title" | translate }}</h2>
        <p class="text-lighter">
          {{ "Page.about-us.form.desc" | translate }}
        </p>
      </div>
      <div class="bg-fourth border-radius-10">
        <app-contact-us-form></app-contact-us-form>
      </div>
    </div>
  </div>
  <div class="col-lg-6 order-0 order-lg-1">
    <div>
      <img
        loading="lazy"
        class="w-100 h-100 object-fit-cover"
        src="/images/about-us-page/about-us-form-image.png"
        alt="FPICO" />
    </div>
  </div>
</div>
