<section class="overflow-hidden">
  <div class="container my-5">
    <div class="row justify-content-between">
      <div class="col-lg-5 col-xl-4">
        <div class="position-relative">
          <img
            loading="lazy"
            [class]="{ rotateImage: isRTL() }"
            style="height: 500px; width: 400px"
            src="/images/hero/master.png"
            alt="fipco manager"
            class="position-relative z-2 mb-4 ms-4 manager_image" />
          <span
            style="height: 449px; width: 379px; border: 3px solid #e7bf8c"
            class="d-block border-radius-10 position-absolute bottom-0 start-0 mb-4 ms-4 z-1"></span>
          <span
            style="height: 449px; width: 379px; background-color: #2b2b2b"
            class="d-block border-radius-10 position-absolute bottom-0 start-0 z-n1"></span>
        </div>
      </div>
      <!-- <div
        class="col-lg-7 col-xl-7 mt-5 master_message"
        [innerHTML]="'home.message.firsttitle' | translate"
      ></div> -->
      <div class="col-lg-7 col-xl-7 mt-5 master_message">
        <div class="text-capitalize pt-2">
          <h2 class="text-light ms-0 ms-md-4">
            {{ "home.chairman.message" | translate }}
          </h2>
          <div class="border-radius-10 p-3 h5 position-relative z-3 manager_title">
            <h3 class="text-light">
              @if (isRTL()) {
              <span class="text-main">{{ "chairmanMessage.title.desc" | translate }}</span>
              {{ ChairMessage().ar_name }}
              }@else {
              <span class="text-main">{{ "chairmanMessage.title.desc" | translate }}</span>
              {{ ChairMessage().en_name }}
              }
            </h3>

            <div class="text-lighter mb-0">
              @if (isRTL()) {
              {{ ChairMessage().ar_small_title }}
              }@else {
              {{ ChairMessage().en_small_title }}
              }
            </div>
          </div>
          <div class="ms-0 ms-md-5">
            <h4 class="text-light my-3">
              <div class="text-lighter mb-0">
                @if (isRTL()) {
                {{ ChairMessage().ar_title }}
                }@else {
                {{ ChairMessage().en_title }}
                }
              </div>
            </h4>
            @if (isRTL()) {
            <div class="text-lighter" [innerHTML]="ChairMessage().ar_text"></div>
            }@else {
            <div class="text-lighter" [innerHTML]="ChairMessage().en_text"></div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
