<ul class="navbar-nav m-auto mb-2 mb-lg-0">
  <li class="nav-item">
    <a
      class="text-capitalize nav-link active"
      aria-current="page"
      [routerLink]="['/', languageService.selectedLanguage$ | async]"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >{{ "Pages.Home.navbar.navigations.home" | translate }}</a
    >
  </li>

  <li class="nav-item">
    <a
      class="text-capitalize nav-link"
      [routerLink]="['/', languageService.selectedLanguage$ | async, 'about-us']"
      routerLinkActive="active"
      >{{ "Pages.Home.navbar.navigations.aboutUs" | translate }}</a
    >
  </li>

  <li class="nav-item">
    <a
      class="text-capitalize nav-link"
      [routerLink]="['/', languageService.selectedLanguage$ | async, 'projects']"
      routerLinkActive="active"
      >{{ "Pages.Home.navbar.navigations.projects" | translate }}</a
    >
  </li>

  <li class="nav-item">
    <a
      class="text-capitalize nav-link"
      [routerLink]="['/', languageService.selectedLanguage$ | async, 'services']"
      routerLinkActive="active"
      >{{ "Pages.Home.navbar.navigations.services" | translate }}</a
    >
  </li>

  @if (isRTL) {
  <li class="nav-item">
    <a
      class="text-capitalize nav-link"
      [routerLink]="['/', languageService.selectedLanguage$ | async, 'blogs']"
      routerLinkActive="active"
      >{{ "Pages.Home.navbar.navigations.blogs" | translate }}</a
    >
  </li>
  }

  <!-- <li class="nav-item dropdown">
    <a
      class="text-capitalize nav-link dropdown-toggle"
      href="#"
      role="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      {{ "Pages.Home.navbar.navigations.services" | translate }}
    </a>
    <ul
      [class]="{ 'text-end': isRTL }"
      [style]="{ left: !isRTL ? 'auto' : '0', right: !isRTL ? '0' : 'auto' }"
      class="dropdown-menu bg-black"
    >
      @if (allServices) { @for (item of allServices.services; track $index) {
      <li class="px-3">
        <a
          [routerLink]="['/services-details', item.id]"
          class="text-capitalize nav-link dropdown-item"
          href="#"
          >@if (isRTL) {
          {{ item.ar_service_title }}
          } @else {
          {{ item.en_service_title }}
          }</a
        >
      </li>
      } }
      <li class="px-3">
        <a
          routerLink="/services"
          class="text-capitalize nav-link dropdown-item"
          href="#"
          >{{ "all services" | translate }}</a
        >
      </li>
    </ul>
  </li> -->
</ul>
