<!-- Spinner Module -->
<ngx-spinner
  [disableAnimation]="true"
  bdColor="rgba(0, 0, 0)"
  size="medium"
  color="#fff"
  [zIndex]="9999"
  type="ball-scale-multiple">
  <img src="/my-fav.ico/favicon.svg" loading="lazy" alt="FPICO" />
</ngx-spinner>

<!-- Main Content -->

<app-navbar />
<main class="flex-grow-1">
  <router-outlet />
</main>
<app-footer />

<div class="icon-whatsapp">
  <a href="https://wa.me/9660558200003" target="_blank" rel="noopener">
    <img loading="lazy" src="/WhatsApp_icon_Floating_icon.png" alt="Message FPICO on WhatsApp" />
  </a>
</div>
