<section aria-labelledby="hero-title">
  <h1 id="hero-title" class="sr-only">
    FPICO - Leading Construction and Development Company
  </h1>
  <div class="container mx-auto whitespace-nowrap overflow-hidden">
    <div
      [class]="{
        'lg:flex-row-reverse': isRTL,
        'lg:flex-row': !isRTL,
        'md:text-start': !isRTL,
        'md:text-end': isRTL
      }"
      class="flex flex-col text-center items-center gap-3 justify-center w-4/5 mx-auto"
    >
      <h2 class="!text-[16px] text-lighter font-normal capitalize">
        <p class="block mb-0 text-start">
          {{ "Pages.Home.hero-section.col01.T01" | translate }}
        </p>
        {{ "Pages.Home.hero-section.col01.T02" | translate }}
        <span class="text-white">{{
          "Pages.Home.hero-section.col01.T03" | translate
        }}</span>
      </h2>

      <h3>
        <span class="text-main text-[56px] font-semibold capitalize"
          >{{ "Pages.Home.hero-section.col01.main01" | translate }}
        </span>
        <span class="text-white text-[56px] font-semibold capitalize">{{
          "Pages.Home.hero-section.col01.main02" | translate
        }}</span>
      </h3>
    </div>
    <div
      [class]="{
        'lg:flex-row-reverse': isRTL,
        'lg:flex-row': !isRTL,
        'md:text-start': !isRTL,
        'md:text-end': isRTL
      }"
      class="flex flex-col text-center items-center gap-4 justify-end w-3/5 mx-auto"
    >
      <h2 class="flex gap-3">
        <span class="text-white font-semibold capitalize text-[56px]">{{
          "Pages.Home.hero-section.col02.main01" | translate
        }}</span>
        <span class="text-main font-semibold capitalize text-[56px]"
          >{{ "Pages.Home.hero-section.col02.main02" | translate }}
        </span>
      </h2>
      <h3 class="text-gray-400 font-normal capitalize">
        <span class="block !text-[16px]"
          >{{ "Pages.Home.hero-section.col02.T01" | translate }}
        </span>
        <span class="block !text-[16px]">{{
          "Pages.Home.hero-section.col02.T02" | translate
        }}</span>
        <span>{{ "Pages.Home.hero-section.col02.T03" | translate }}</span>
      </h3>
    </div>
    <div class="relative pt-24 text-center">
      <img
        src="/images/rush.webp"
        class="absolute z-50 w-[300px] h-[120px] left-1/2 top-0 -translate-x-1/2"
        alt="FPICO rush logo"
        loading="lazy"
        priority
      />
      <img
        src="/images/hero/Kingdom Centre_1200x500.webp"
        class="mx-auto w-full h-[500px]"
        loading="lazy"
        priority
        alt="FPICO Kingdom Centre project showcase"
      />
      <img
        src="/images/hero/Projects_Logo 1.webp"
        class="absolute w-[795px] h-[242px] -bottom-[70%] -left-[115px] -z-10 hero_image"
        alt="FPICO projects logo"
        loading="lazy"
        priority
        role="presentation"
      />
    </div>
  </div>
</section>
