.first_title {
  color: #a9a9a9;
  font-size: 16px;
  font-weight: 400;

  span {
    color: #fff;
  }
}
.hero_image {
  position: absolute;
  bottom: 70%;
  left: -115px;
  z-index: -1;
}
:root,
html[dir="rtl"] {
  // direction: rtl !important;
  // text-align: right !important;
  font-family: "Cairo", Tahoma, sans-serif !important;
  body {
    .flex-lg-row {
      flex-direction: row-reverse !important;
    }
    .text-md-start {
      text-align: right !important;
    }
  }
}

.w-hero-fast {
  width: 300px;
  display: block;
  margin: auto;
  position: absolute;
  z-index: 99;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.images_parent {
  padding-top: 6rem;
}
