@if (allAboutData) {
<section class="capitalize my-5 bg-section-image overflow-hidden">
  <h1 class="hidden">FIPCO ABOUT US</h1>
  <div class="container mx-auto text-white">
    <!-- section and title -->
    <div class="grid grid-cols-1 justify-items-center">
      <div class="w-full grid grid-cols-1 items-center">
        <app-pages-header
          [title]="'Pages.About.title'"
          [title02]="'Pages.About.title02'"
          [desc01]="'Pages.About.title-desc01'"
          [desc02]="'Pages.About.title-desc02'"
          [order]="true"
        ></app-pages-header>
      </div>

      <!--Home Main Image-->
      <div class="w-full">
        <div class="my-12 relative images_parent">
          <img class="w-hero-fast" src="/images/rush.png" role="presentation" />
          <img
            class="w-full banner-animation"
            src="/images/hero/Kingdom Centre_1200x500.webp"
            alt="FPICO"
          />
          <div class="main-text translate-middle-y w-11/12 ml-auto">
            <h2 class="inline !text-[16px] mr-1">
              {{ "Page.about.title01" | translate }}
              <span class="text-main">FPICO</span>
            </h2>
            <h2 class="inline !text-[16px]">
              {{ "Page.about.title02" | translate }}
              <!-- @if (isRTL) {
              } @else {
              {{ allAboutData.aboutdata.en_main_text }}
              } -->
            </h2>
          </div>
        </div>
      </div>
    </div>

    <!-- about us banner -->
    <app-about-banner-section
      [features]="allAboutData.features"
      [isRTL]="isRTL"
    ></app-about-banner-section>

    <!-- Master Message -->
    <app-b-manager-message
      [isRTL]="isRTL"
      [ChairMessage]="allAboutData.chairmessage"
    ></app-b-manager-message>

    <!-- our Partners -->
    <app-k-our-partners
      [isRTL]="isRTL"
      [isAddBackgroundColor]="true"
      [Partner]="allAboutData.clients"
    ></app-k-our-partners>

    <!-- About us last banner -->
    <app-about-us-last-banner
      [isRTL]="isRTL"
      [allAboutData]="allAboutData"
    ></app-about-us-last-banner>

    <!-- Download PDF section -->
    <div class="my-12">
      <app-h-download-pdf-section></app-h-download-pdf-section>
    </div>

    <!-- Contact Us -->
    <div class="mb-12">
      <app-about-us-contact-form></app-about-us-contact-form>
    </div>
  </div>
</section>

}
