

.main-text {
  //background-color: $third-color;
  border-radius: var(--border-radius);
  padding: 30px;
  padding-bottom: 35px;
  //box-shadow: -10px 10px 0px $main-color;
  background-image: url("/images/about-us-page/1.png"),    url("/images/about-us-page/2.png");
  background-size: 99% 90%, 98% 85%;
  background-position: top right, bottom left;
  background-repeat: no-repeat;
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
}
.w-hero-fast {
  width: 300px;
  display: block;
  margin: auto;
  position: absolute;
  z-index: 99;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.images_parent {
  padding-top: 6rem;
}
