

.image_border {
  box-shadow: 0 0 0 8px var(--main-color) inset;
  border-radius: 10px;
  img {
    position: relative;
    bottom: 20px;
    left: 20px;
  }
}

figure {
  .main_image {
    transform: scale(1.5);
    transition: 0.5s all;
  }

  &:hover .main_image {
    transform: scale(1);
  }
}

.card_text {
  background-color: #303030;
}

.card {
  .card_hidden_content {
    opacity: 0;
    transition: 0.5s all;
  }
  &:hover {
    .card_hidden_content {
      opacity: 1;
    }
  }
}

.rotate_moreDetails_Button {
  transform: rotate(180deg);
}

// pagination

::ng-deep .ngx-pagination a {
  border-radius: 50% !important;
  background-color: white !important;
  color: black;
  margin-inline: 5px;
}
::ng-deep .ngx-pagination .current {
  background-color: var(--main-color) !important;
  border-radius: 50%;
}
::ng-deep .ngx-pagination a:hover:not(:first-child, :last-child) {
  background-color: var(--main-color) !important;
  border-radius: 50%;
  color: white !important;
}
::ng-deep .ngx-pagination li:last-child:hover a {
  border-radius: 100vh !important;
  background-color: white !important;
  color: black;
}
::ng-deep .ngx-pagination li:first-child:hover a {
  border-radius: 100vh !important;
  background-color: white !important;
  color: black;
}

::ng-deep .ngx-pagination .disabled {
  border-radius: 50% !important;
  background-color: white !important;
  color: black;
  margin-inline: 5px;
}
::ng-deep .ngx-pagination li:last-child a,
::ng-deep .ngx-pagination li:first-child a,
::ng-deep .ngx-pagination .disabled,
::ng-deep .ngx-pagination .pagination-next a {
  border-radius: 100vh !important;
}
