.social_media_links a {
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

footer {
  background-image: url("/images/footer/footer_bg.webp");
  background-repeat: no-repeat;
  background-position: left bottom;
}

.iso-images {
  width: 50px;
  margin-inline: 5px;
}
