

.image_border {
  box-shadow: 0 0 0 8px var(--main-color) inset;
  border-radius: 10px;
  img {
    position: relative;
    bottom: 20px;
    left: 20px;
  }
}

figure {
  .main_image {
    transform: scale(1.5);
    transition: 0.5s all;
  }

  &:hover .main_image {
    transform: scale(1);
  }
}

.card_text {
  background-color: #303030;
}

.card {
  .card_hidden_content {
    opacity: 0;
    transition: 0.5s all;
  }
  &:hover {
    .card_hidden_content {
      opacity: 1;
    }
  }
}

.rotate_moreDetails_Button {
  transform: rotate(180deg);
}
