.image_border {
  box-shadow: inset 0 0 0 8px var(--main-color); /* Use CSS variable */
  border-radius: 10px;
  position: relative;
}

.image_border img {
  position: relative;
  bottom: 20px;
  left: 20px;
}

figure .main_image {
  transform: scale(1.5);
  transition: all 0.5s;
}

figure:hover .main_image {
  transform: scale(1);
}

.card_text {
  background-color: #303030;
}

.card .card_hidden_content {
  opacity: 0;
  transition: all 0.5s;
  /* margin-bottom: -3px; */
}

.card:hover .card_hidden_content {
  opacity: 1;
}

.rotate_moreDetails_Button {
  transform: rotate(180deg);
}
