.blog-details {
  ::ng-deep img {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  .lightBoxContnet {
    animation: animation_slider 0.5s forwards;
    img {
      min-width: 500px;
    }
  }
  .cr {
    cursor: pointer;
  }
  @keyframes animation_slider {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  ::ng-deep .owl-dot-text span {
    transition: all 0.5s ease !important; /* Transition on all properties */
    background-color: #ccc !important; /* Default background color */
    // width: 20px !important; /* Initial width */
    // height: 20px !important; /* Initial height to make dots circular */
    border-radius: 50% !important; /* Make dots round */
    margin: 6px 3px !important;
  }

  ::ng-deep .owl-dot-text.ng-star-inserted.active span {
    background-color: $main-color !important; /* Active dot background color */
    width: 30px !important; /* Increased width for active dot */
    border-radius: 10px !important; /* Optional border radius for active dot */
  }

  ::ng-deep .owl-nav {
    display: flex;
    justify-content: space-between;
  }

  ::ng-deep .owl-prev,
  ::ng-deep .owl-next {
    background-color: $main-color !important;
    color: #000 !important;
    border: none;
    padding: 10px;
    cursor: pointer;
  }

  ::ng-deep .owl-prev:hover,
  ::ng-deep .owl-next:hover {
    background-color: $main-color;
  }

  .imageContainer-hover::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #000;
    opacity: 0;
    transition: 0.5s all;
  }

  .imageContainer-hover:hover::after {
    opacity: 0.5;
  }
  .sticky-parent {
    img {
      height: 80px !important;
    }
  }
  @media (min-width: 992px) {
    .sticky-parent {
      min-height: 100vh;
      img {
        height: auto !important;
      }
    }
    .sticky-parent .col-lg-12 {
      img {
        height: 11vh !important;
      }
      min-height: 12.5vh;
    }
  }
}

::ng-deep .content,
.content {
  text-align: justify !important;
  color: white !important;
}

// Whatsapp Banner

::ng-deep .banner_parent {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 20px;
  background: #fff;
  flex-wrap: wrap;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
  max-width: 600px;
  background-color: black;
  margin: auto;
}

::ng-deep .banner_text {
  text-align: center;
  flex-grow: 1;
  font-size: 17px;
}

::ng-deep .banner_text :first-child {
  margin: 0;
  font-weight: bold;
  color: white;
}
::ng-deep .banner_text :last-child {
  margin: 0;
  color: $main-color;
}

::ng-deep .banner_image_banner {
  display: flex;
  flex-direction: column;
  gap: 10px;
  a {
    background-color: #25d366;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  img {
    width: 20px;
    height: 20px;
    margin: 0 !important;
  }
}
