<section class="text-capitalize my-4 my-md-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <header
          [class]="{ 'text-lg-end': isRTL(), 'text-lg-start': !isRTL() }"
          class="text-center"
          [innerHTML]="'home.clients.text' | translate | safeHtml">
          <!-- <h2 class="text-light"><span class="text-main">our</span> clients</h2>
          <p class="text-lighter">
            some of the clients who trusted us and we provided them with
            projects in the best possible way
          </p> -->
        </header>
      </div>
      <div class="col-md-8 row row-cols-md-2 row-cols-xl-5 justify-content-start mt-0">
        @for (item of Client(); track item.id) {
        <div
          class="text-center d-flex justify-content-center align-items-center d-md-block text-wrap g-3 border-radius-10">
          <div
            class="image_container w-100 h-100 d-flex justify-content-center align-items-center bg-white p-2"
            style="border-radius: 50px">
            <img
              loading="lazy"
              [src]="'https://fpico.org/fipcoapi/Partner/' + item.main_image"
              class="d-block mb-3 object-fit-contain w-100"
              alt="FPICO" />
          </div>
          <!-- <img src="/images/clients/6.png" class="d-block" alt="FPICO" /> -->
        </div>
        }
        <!-- <div
          class="mt-0 mb-4 text-center d-flex justify-content-center gap-4 d-md-block"
        >
          <img
            src="/images/clients/2.png"
            class="d-block mb-3"
            alt="FPICO"
          />
          <img src="/images/clients/7.png" class="d-block" alt="FPICO" />
        </div>
        <div
          class="mt-0 mb-4 text-center d-flex justify-content-center gap-4 d-md-block"
        >
          <img
            src="/images/clients/3.png"
            class="d-block mb-3"
            alt="FPICO"
          />
          <img src="/images/clients/8.png" class="d-block" alt="FPICO" />
        </div>
        <div
          class="mt-0 mb-4 text-center d-flex justify-content-center gap-4 d-md-block"
        >
          <img
            src="/images/clients/4.png"
            class="d-block mb-3"
            alt="FPICO"
          />
          <img src="/images/clients/9.png" class="d-block" alt="FPICO" />
        </div>
        <div
          class="mt-0 mb-4 text-center d-flex justify-content-center gap-4 d-md-block"
        >
          <img
            src="/images/clients/5.png"
            class="d-block mb-3"
            alt="FPICO"
          />
          <img
            src="/images/clients/10.png"
            class="d-block"
            alt="FPICO"
          />
        </div> -->
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</section>
