<div
  class="w-full my-5 lg:my-0 flex flex-1 flex-col lg:flex-row items-center relative main"
>
  <!-- Header -->
  <div class="w-full lg:w-2/3">
    <div>
      <header class="flex items-center gap-2">
        <img
          loading="lazy"
          class="transform-logo-animation"
          width="130px"
          height="130px"
          src="/images/DownloadSection/logo-light.webp"
          alt="FPICO"
        />

        <h2>
          <div class="flex items-center gap-2">
            <span class="text-main" style="font-size: 45px">{{
              title | translate
            }}</span>

            @if (!order) {
            <div class="text-sm text-lighter font-medium mt-2">
              <span class="block">
                {{ desc01 | translate }}
              </span>
              <span class="block">
                {{ desc02 | translate }}
              </span>
            </div>
            }
          </div>
          <span class="flex items-center gap-2">
            <span style="font-size: 45px">{{ title02 | translate }}</span>
            @if (order) {
            <div class="text-sm text-lighter mt-2">
              <span class="block">
                {{ desc01 | translate }}
              </span>
              <span class="block">
                {{ desc02 | translate }}
              </span>
            </div>
            }
          </span>
        </h2>
      </header>
    </div>
  </div>

  <!-- button -->
  <div class="w-full lg:w-1/3 flex justify-end">
    <div>
      @if ( !isProjects) {
      <a
        class="btn-pages no-underline"
        [routerLink]="[
          '/',
          languageService.selectedLanguage$ | async,
          'services'
        ]"
        href="#"
      >
        {{ "Pages.projects.main-btn" | translate }}
      </a>
      } @else {
      <a
        class="btn-pages no-underline"
        [routerLink]="[
          '/',
          languageService.selectedLanguage$ | async,
          'projects'
        ]"
        href="#"
      >
        {{ "Pages.Projects.main-btn" | translate }}
      </a>

      }
    </div>
  </div>
</div>
