.card .card-img-overlay {
  opacity: 0;
  transition: 0.5s all;
  cursor: pointer;
}
.card:hover .card-img-overlay {
  opacity: 1;
}

section {
  background-image: url("/images/DownloadSection/fi_logo.webp");
  background-repeat: no-repeat;
  background-position: top left;
}
