<section class="capitalize">
  <div class="container mx-auto text-center">
    <header class="mb-4">
      <h2
        class="text-white"
        [innerHTML]="
          'Pages.Home.our-projects-section.title' | translate | safeHtml
        "
      ></h2>
      <p class="text-lighter">
        {{ "Pages.Home.our-projects-section.title-desc" | translate }}
        <span class="block">{{
          "Pages.Home.our-projects-section.title-desc02" | translate
        }}</span>
      </p>
    </header>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-3">
      @for (project of Project(); track project.id) {
      <div>
        <a
          [routerLink]="[
            '/',
            languageService.selectedLanguage$ | async,
            'projects-details',
            project.id
          ]"
          href="#"
        >
          <div class="card bg-transparent">
            <img
              loading="lazy"
              class="rounded-[10px] w-full h-[250px]"
              [src]="'https://fpico.org/fipcoapi/service/' + project.main_image"
              [alt]="'FPICO ' + project.en_service_title"
            />
            <div
              class="card-img-overlay w-full h-full flex justify-center items-center bg-black bg-opacity-50"
            >
              @if (isRTL()) {
              <h3 class="text-white">
                {{ project.ar_service_title | translate }}
              </h3>
              }@else {
              <h3 class="text-white">
                {{ project.en_service_title | translate }}
              </h3>
              }
            </div>
          </div>
        </a>
      </div>
      }
    </div>
  </div>
</section>
