@if (allLinks) {
<div class="row g-3">
  <div class="col-lg-4">
    <div class="p-4 py-5 bg-third rounded-2">
      <div class="border-bottom border-1 mb-4 pb-4 border-light border-opacity-10">
        <p>{{ "Pages.contact-us-page.contact.email" | translate }}</p>
        <div class="mb-2">
          <!-- href="mailto:info@fpico.org" -->
          <a
            [href]="'mailto:' + allLinks.contact.main_email"
            class="text-lighter fs-13 text-decoration-none"
            aria-label="Visit FPICO website"
            >{{ allLinks.contact.main_email }}</a
          >
        </div>
        <div>
          <p>{{ "Pages.contact-us-page.contact.phone" | translate }}</p>
          <div class="mb-2">
            <!-- href="tel:+9660558200003" -->
            <a
              [href]="'tel:' + allLinks.contact.contat_first_phone"
              class="text-lighter fs-13 text-decoration-none"
              aria-label="Call +966 055 820 0003"
              >{{ allLinks.contact.contat_first_phone }}</a
            >
          </div>
          <div>
            <!-- href="tel:+9660534103237" -->
            <a
              [href]="'tel:' + allLinks.contact.contact_second_phone"
              class="text-lighter fs-13 text-decoration-none"
              aria-label="Call +966 053 410 3237">
              {{ allLinks.contact.contact_second_phone }}</a
            >
          </div>
        </div>
      </div>
      <div class="row align-items-center">
        <p class="col-9 text-white fs-15">
          {{ "Pages.contact-us-page.contact.text01" | translate }}
          <span class="d-block">
            {{ "Pages.contact-us-page.contact.text02" | translate }}
          </span>
        </p>
        <div class="col-3">
          <!-- <img
              class="w-100"
              src="/images/contact_us_page/qr.png"
              alt="fpico"
            /> -->
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-8">
    <div>
      <div class="border-bottom border-1 mb-2 pb-2 border-light border-opacity-10">
        <img loading="lazy" class="w-100 rounded-1" src="/images/contact_us_page/map.png" alt="FPICO MAP" />
        <p class="my-2 text-lighter fw-semibold">
          {{ "Pages.contact-us-page.map-section.title05" | translate }}
        </p>
      </div>
      <p>
        @if (isRTL) {
        {{ allLinks.contact.ar_address }}
        }@else {
        {{ allLinks.contact.en_address }}
        }
        <!-- <span>{{
          "Pages.contact-us-page.map-section.title07" | translate
        }}</span> -->
      </p>
      <a [href]="allLinks.contact.map_link" target="_blank" class="btn btn-outline-main" style="max-width: 300px">
        {{ "Pages.contact-us-page.map-section.title08" | translate }}
      </a>
    </div>
  </div>
</div>

}
